.record-div-container {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
}

.record-div {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.2rem;
}

.record-audio-button-div {
  margin-top: 4rem;
  display: flex;
}
